:root {
    --text-error: #CC4B37;
    --light-gray: #E6E6E6;
    --color: #FFFFFF;
    --color-darken: #FFFFFFA0;
    --background: #212121;
    --success: #0BBA83;
    --success-darken: #0BBA83A0;
}

* {
    background-color: var(--background) !important;
    color: var(--color) !important;
}

html, body, body > div {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    font-size: 1rem;
}

div:has(> h1) {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
}

form {
    width: 22rem;
    padding: 1rem;
}

.brand-logo {
    width: 7.5rem;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-color: var(--light-gray) !important;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .card {
        border-color: transparent !important;
    }
}

.fieldset {
    border-color: var(--color-darken) !important;
}

.card {
    padding: 3rem .5rem .5rem;
}

.help-text, label.validation-error, label.validation-error:has(> input.validation-error) {
    color: var(--text-error) !important;
}

input.validation-error {
    border-color: var(--text-error) !important;
}

.button {
    border-radius: 3rem !important;
    background-color: var(--success) !important;
    color: var(--color) !important;
}

.button.secondary {
    background-color: var(--color) !important;
    color: var(--background) !important;
}

.button:hover, .button:focus {
    background-color: var(--success-darken) !important;
    color: var(--color)20 !important;
}

.button.secondary:hover, .button.secondary:focus {
    background-color: var(--color-darken) !important;
    color: var(--background) !important;
}

input, fieldset {
    border-radius: .5rem !important;
}

table, table > * {
    border-color: transparent !important;
    outline-color: transparent !important;
    box-shadow: transparent !important;
}
