@using Microsoft.Extensions.Primitives
@model Uploadify.Server.Application.Auth.ViewModels.AuthorizeViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Authorize";
}

<form asp-controller="Authorization" asp-action="Authorize" method="post">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell" style="margin-bottom: 1rem;">
                @await Html.PartialAsync("_Logo")
            </div>
            <div class="small-12 cell" style="margin-bottom: 7.5rem;">
                <h1 class="text-center">Authorize</h1>
            </div>
            <div class="small-12 cell">
                @foreach (var parameter in Context.Request.HasFormContentType ? (IEnumerable<KeyValuePair<string, StringValues>>) Context.Request.Form : Context.Request.Query)
                {
                    <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
                }
                <input class="button expanded" name="submit.Accept" type="submit" value="Yes" />
            </div>
            <div class="small-12 cell">
                 <input class="button secondary expanded" name="submit.Deny" type="submit" value="No" />
            </div>
        </div>
    </div>
</form>
