@using Uploadify.Server.IdentityServer.Views.Shared
@model Uploadify.Server.Application.Auth.ViewModels.LoginViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign in";
}

<form asp-controller="Account" asp-action="HandleLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-antiforgery="true" novalidate>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell" style="margin-bottom: 1rem;">
                @await Html.PartialAsync("_Logo")
            </div>
            <div class="small-12 cell" style="margin-bottom: 1rem;">
                <h1 class="text-center">Sign in</h1>
            </div>
            <div class="small-12 cell">
                <fieldset class="fieldset">
                    <legend>Credentials</legend>
                    <div class="grid-container">
                        <div class="grid-x grid-padding-x">
                            <div class="small-12 cell">
                                @await Html.PartialAsync("_Input", new InputViewModel { Label = "Login", InputType = "text", PropertyName = nameof(Model.Form.UserName), Value = Model.Form.UserName, Errors = Model.Errors?.GetValueOrDefault(nameof(Model.Form.UserName))})
                            </div>
                            <div class="small-12 cell">
                                @await Html.PartialAsync("_Input", new InputViewModel { Label = "Password", InputType = "password", PropertyName = nameof(Model.Form.Password), Value = Model.Form.Password })
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="small-12 cell">
                <button type="submit" class="button expanded">Sign in</button>
                <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="button secondary expanded">Sign up</a>
            </div>
        </div>
    </div>
</form>
