<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Uploadify</title>
    <link href="~/icons/favicon_160x160.png" rel="icon" type="image/png" sizes="160x160"/>
    <link href="~/icons/favicon_180x180.png" rel="icon" type="image/png" sizes="180x180"/>
    <link href="~/icons/favicon_196x196.png" rel="icon" type="image/png" sizes="196x196"/>
    <link href="~/libs/foundation/css/foundation.css" rel="stylesheet"/>
    <link href="~/libs/foundation/css/app.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
<div class="centered-container">
    <div class="outlined-container">
        <main role="main">
            <div class="card">
                @RenderBody()
            </div>
        </main>
    </div>
</div>
<script src="~/libs/foundation/js/vendor/jquery.js"></script>
<script src="~/libs/foundation/js/vendor/what-input.js"></script>
<script src="~/libs/foundation/js/vendor/foundation.js"></script>
<script src="~/libs/foundation/js/app.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
