@using Uploadify.Client.Application.Utilities.Services
@using Uploadify.Client.Web.Components.Navigation
@using Uploadify.Client.Web.Components.Shared

@inject MobileViewManager MobileViewManager
@inject IStringLocalizer<TranslationDictionary> Localizer

<MudBreakpointProvider OnBreakpointChanged="OnBreakpointChanged"/>

<MudLayout>
    <MudAppBar Class="pt-10 px-5" Fixed="false">
        <AppLogo/>
        <MudSpacer/>
        <Avatar/>
        <LocaleSelector/>
    </MudAppBar>
    
    <MudMainContent>
        @if (MobileViewManager.IsDesktop)
        {
            <div class="d-flex flex-grow-1 gap-15" style="padding-bottom:96px;">
                <div class="flex-1">
                    <div class="d-flex justify-end mud-width-full">
                        <DesktopNavigation/>
                    </div>
                </div>
                <div style="min-width:600px;max-width:600px;">
                    @Children
                </div>
                <div class="flex-1"></div>
            </div>
        }
        else
        {
            <MobileNavigation/>
            <MudContainer MaxWidth="@MaxWidth.Small" Style="padding-bottom:96px;">
                @Children
            </MudContainer>
        }
    </MudMainContent>
</MudLayout>

@code {
    [Parameter, EditorRequired] public required RenderFragment Children { get; set; }

    private void OnBreakpointChanged(Breakpoint breakpoint)
    {
        switch (breakpoint)
        {
            case Breakpoint.Lg or Breakpoint.LgAndUp or Breakpoint.Xl or Breakpoint.XlAndUp or Breakpoint.Xxl:
                MobileViewManager.IsDesktop = true;
                return;

            default:
                MobileViewManager.IsDesktop = false;
                return;
        }
    }
}
