<div class="px-6 py-16">
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Rounded="true" Size="Size.Medium"/>
</div>
<div>
    @Body
</div>

@code {
    [Parameter] public RenderFragment? Body { get; set; }
}
