<div class="px-10 py-15">
    <MudProgressLinear Color="@Color.Primary"
                       Indeterminate
                       Rounded
                       Size="@Size.Medium"/>
</div>
<div>
    @Body
</div>

@code {
    [Parameter, EditorRequired] public required RenderFragment Body { get; set; }
}
